@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#menu {
    background-color: black;
}


#menu a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#menu form a{
    color: white;
}


#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

/* PARA pantalla pequeña */

@media (max-width:768px){
    #intro {
        width: 90% !important;
    }
    .servicio-fia{
        width: 100% !important;
        text-align: center;
    }
}

/* para pantallas super pequeñas */
@media(max-width: 576px){
        .icono-wrap{
            flex-wrap: wrap;
            justify-content: center !important;
        }
}



/* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#left{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#left h3{
    font-size: 18px;
    font-weight: bold;
    color: black;
} */



/* .bgcolor.scrolled{
    background-color: rgba(0, 0, 0, 0.692);
} */

/* ENCAJANDO TARJETAS DE LOS SERVIDORES */



#aoc{
    float: left;
}

#sirplease{
    float: left;
}

#asy{
    text-align: center;
}