@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* BARRA TRANPARENTE */
#menu {
    background-color: black;
}


#menu a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#menu form a{
    color: white;
}


#menu form > button {
    font-size: 18px;
    font-weight: bold;
}



/* SLIDER - CARRUSEL */
.carousel-inner{
    max-height: 39rem;
}

/* PARA pantalla pequeña */

@media (max-width:768px){
    #intro {
        width: 90% !important;
    }
    .servicio-fia{
        width: 100% !important;
        text-align: center;
    }
}


/* para pantallas super pequeñas */
@media(max-width: 576px){
        .icono-wrap{
            flex-wrap: wrap;
            justify-content: center !important;
        }
}

.text-header h1{
    font-size: 50px;
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

header .text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-header h1{
    font-size: 50px;
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}



